.ExAcmDGx_0 {
  stroke-dasharray: 2822 2824;
  stroke-dashoffset: 2823;
  animation: ExAcmDGx_draw 1333ms ease-out 0ms forwards;
}

.ExAcmDGx_1 {
  stroke-dasharray: 298 300;
  stroke-dashoffset: 299;
  animation: ExAcmDGx_draw 1333ms ease-out 20ms forwards;
}

.ExAcmDGx_2 {
  stroke-dasharray: 240 242;
  stroke-dashoffset: 241;
  animation: ExAcmDGx_draw 1333ms ease-out 41ms forwards;
}

.ExAcmDGx_3 {
  stroke-dasharray: 582 584;
  stroke-dashoffset: 583;
  animation: ExAcmDGx_draw 1333ms ease-out 62ms forwards;
}

.ExAcmDGx_4 {
  stroke-dasharray: 423 425;
  stroke-dashoffset: 424;
  animation: ExAcmDGx_draw 1333ms ease-out 83ms forwards;
}

.ExAcmDGx_5 {
  stroke-dasharray: 240 242;
  stroke-dashoffset: 241;
  animation: ExAcmDGx_draw 1333ms ease-out 104ms forwards;
}

.ExAcmDGx_6 {
  stroke-dasharray: 562 564;
  stroke-dashoffset: 563;
  animation: ExAcmDGx_draw 1333ms ease-out 125ms forwards;
}

.ExAcmDGx_7 {
  stroke-dasharray: 509 511;
  stroke-dashoffset: 510;
  animation: ExAcmDGx_draw 1333ms ease-out 145ms forwards;
}

.ExAcmDGx_8 {
  stroke-dasharray: 247 249;
  stroke-dashoffset: 248;
  animation: ExAcmDGx_draw 1333ms ease-out 166ms forwards;
}

.ExAcmDGx_9 {
  stroke-dasharray: 430 432;
  stroke-dashoffset: 431;
  animation: ExAcmDGx_draw 1333ms ease-out 187ms forwards;
}

.ExAcmDGx_10 {
  stroke-dasharray: 419 421;
  stroke-dashoffset: 420;
  animation: ExAcmDGx_draw 1333ms ease-out 208ms forwards;
}

.ExAcmDGx_11 {
  stroke-dasharray: 315 317;
  stroke-dashoffset: 316;
  animation: ExAcmDGx_draw 1333ms ease-out 229ms forwards;
}

.ExAcmDGx_12 {
  stroke-dasharray: 507 509;
  stroke-dashoffset: 508;
  animation: ExAcmDGx_draw 1333ms ease-out 250ms forwards;
}

.ExAcmDGx_13 {
  stroke-dasharray: 240 242;
  stroke-dashoffset: 241;
  animation: ExAcmDGx_draw 1333ms ease-out 270ms forwards;
}

.ExAcmDGx_14 {
  stroke-dasharray: 298 300;
  stroke-dashoffset: 299;
  animation: ExAcmDGx_draw 1333ms ease-out 291ms forwards;
}

.ExAcmDGx_15 {
  stroke-dasharray: 507 509;
  stroke-dashoffset: 508;
  animation: ExAcmDGx_draw 1333ms ease-out 312ms forwards;
}

.ExAcmDGx_16 {
  stroke-dasharray: 562 564;
  stroke-dashoffset: 563;
  animation: ExAcmDGx_draw 1333ms ease-out 333ms forwards;
}

.ExAcmDGx_17 {
  stroke-dasharray: 298 300;
  stroke-dashoffset: 299;
  animation: ExAcmDGx_draw 1333ms ease-out 354ms forwards;
}

.ExAcmDGx_18 {
  stroke-dasharray: 240 242;
  stroke-dashoffset: 241;
  animation: ExAcmDGx_draw 1333ms ease-out 375ms forwards;
}

.ExAcmDGx_19 {
  stroke-dasharray: 582 584;
  stroke-dashoffset: 583;
  animation: ExAcmDGx_draw 1333ms ease-out 395ms forwards;
}

.ExAcmDGx_20 {
  stroke-dasharray: 423 425;
  stroke-dashoffset: 424;
  animation: ExAcmDGx_draw 1333ms ease-out 416ms forwards;
}

.ExAcmDGx_21 {
  stroke-dasharray: 240 242;
  stroke-dashoffset: 241;
  animation: ExAcmDGx_draw 1333ms ease-out 437ms forwards;
}

.ExAcmDGx_22 {
  stroke-dasharray: 562 564;
  stroke-dashoffset: 563;
  animation: ExAcmDGx_draw 1333ms ease-out 458ms forwards;
}

.ExAcmDGx_23 {
  stroke-dasharray: 509 511;
  stroke-dashoffset: 510;
  animation: ExAcmDGx_draw 1333ms ease-out 479ms forwards;
}

.ExAcmDGx_24 {
  stroke-dasharray: 247 249;
  stroke-dashoffset: 248;
  animation: ExAcmDGx_draw 1333ms ease-out 500ms forwards;
}

.ExAcmDGx_25 {
  stroke-dasharray: 430 432;
  stroke-dashoffset: 431;
  animation: ExAcmDGx_draw 1333ms ease-out 520ms forwards;
}

.ExAcmDGx_26 {
  stroke-dasharray: 419 421;
  stroke-dashoffset: 420;
  animation: ExAcmDGx_draw 1333ms ease-out 541ms forwards;
}

.ExAcmDGx_27 {
  stroke-dasharray: 315 317;
  stroke-dashoffset: 316;
  animation: ExAcmDGx_draw 1333ms ease-out 562ms forwards;
}

.ExAcmDGx_28 {
  stroke-dasharray: 507 509;
  stroke-dashoffset: 508;
  animation: ExAcmDGx_draw 1333ms ease-out 583ms forwards;
}

.ExAcmDGx_29 {
  stroke-dasharray: 240 242;
  stroke-dashoffset: 241;
  animation: ExAcmDGx_draw 1333ms ease-out 604ms forwards;
}

.ExAcmDGx_30 {
  stroke-dasharray: 298 300;
  stroke-dashoffset: 299;
  animation: ExAcmDGx_draw 1333ms ease-out 625ms forwards;
}

.ExAcmDGx_31 {
  stroke-dasharray: 507 509;
  stroke-dashoffset: 508;
  animation: ExAcmDGx_draw 1333ms ease-out 645ms forwards;
}

.ExAcmDGx_32 {
  stroke-dasharray: 562 564;
  stroke-dashoffset: 563;
  animation: ExAcmDGx_draw 1333ms ease-out 666ms forwards;
}

@keyframes ExAcmDGx_draw {
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes ExAcmDGx_fade {
  0% {
    stroke-opacity: 1;
  }

  93.54838709677419% {
    stroke-opacity: 1;
  }

  100% {
    stroke-opacity: 0;
  }
}